/*
* MLib CSS
* Custom Styles for MLib
*/

html,
body {
	margin: 0;
	background-color: #eee !important;
}
.container {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.header {
	margin: auto;
}
.header ul {
	text-align: center;
}
.navbar nav {
	margin-left: auto;
	margin-right: auto;
}
.navbar-toggler {
	float: right;
}
.module-header {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.1;
	text-align: center;
}
table {
	text-align: left;
}
.table-overflow {
	display: block;
	overflow-x: scroll;
	overflow: auto;
}
.check-col {
	min-width: 3rem;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}	

.footer {
	background-color: #f9f9f9;
	width: 100%;
	padding: 0.5rem;
	text-align: center;
}
.footer p {
	margin-top: 1rem;	
}
@media (max-width: 576px) {
	.header h1 {
		font-size: 2em;
		text-align: center;
	}
}
.menu {
	border: 2px solid #ccc;
	border-radius: 15px;
	padding: 0 1rem;
	margin-bottom: 1rem;
}
.module {
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 15px;
	padding: 2rem 1rem;
	margin-bottom: 1rem;
}